<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>

	 <!-- Conexion API-->
    <add key="OrgVen" value="PE99" />
    <add key="intervalo" value="10000" />
    <add key="year" value="" />
    <add key="month" value="" />
    <add key="UseSer" value="Sif4c_UserTch" />
    <add key="PasSer" value="@Acc3soSap23" />
    <add key="urlSifac" value="http://192.168.15.55:71/api/" />
	  
	 <!-- Datos constantes -->
	<add key="almacen" value="0001"/>
	<add key="idnum_factura" value="05"/>
	<add key="idnum_nc" value="06"/>
	<add key="idnum_nd" value="07"/>
	  
	 <!-- Conexion Sql-->
    <add key="SAP_SERVIDOR" value="192.168.1.230" />
    <add key="SAP_BASE" value="SIFAC" />
    <add key="SAP_TIPO_BASE" value="SQL17" />
    <add key="SAP_DBUSUARIO" value="sa" />
    <add key="SAP_DBPASSWORD" value="T3rm0Chilc@$%%" />
    <add key="SAP_USUARIO" value="manager" />
    <add key="SAP_PASSWORD" value="Rme$Q123" />

  </appSettings>
	<connectionStrings>
		<add name="sql"
			 connectionString="Server=192.168.1.49;Database=PROD_CRP;User Id=sa;Password=strat;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>